# OS
.DS_Store
Thumbs.db

# Editors
.vscode/*
!.vscode/tasks.json
.idea/

# Logs
*.log

# Env
.env
.env.*

# Build outputs
dist/
build/
coverage/

# Android / Gradle
.gradle/
local.properties
**/build/
captures/
*.apk
*.aab
*.keystore
